
manuscript/figures/amphibians.pdf
manuscript/figures/cramus.ai
manuscript/figures/cramus.pdf
manuscript/figures/cramus_v2.pdf
manuscript/figures/cramus_v3.pdf
manuscript/figures/cramus_v4.pdf
manuscript/figures/cramus_v5.pdf
manuscript/figures/cramus_v5.png
manuscript/figures/cramus_v6.pdf
manuscript/figures/cramus_v6.png
manuscript/figures/Fig1.pdf
manuscript/figures/Fig1.png
manuscript/figures/Fig2.png
manuscript/figures/Fig3.png
manuscript/figures/ltt_plots.ai
manuscript/figures/ltt_plots.pdf
manuscript/figures/ltt_plots.png
manuscript/figures/panel_amphibians.ai
manuscript/figures/panel_birds.ai
manuscript/figures/panel_mammals.ai
manuscript/figures/panel_squamates.ai
manuscript/figures/taxa_pics/amphibians.svg
manuscript/figures/taxa_pics/birds.svg
manuscript/figures/taxa_pics/mammals.svg
manuscript/figures/taxa_pics/mammals2.svg
manuscript/figures/taxa_pics/squamates.svg
