
manuscript/figures/amphibians.pdf
manuscript/figures/cramus.ai
manuscript/figures/cramus.pdf
manuscript/figures/cramus_v2.pdf
manuscript/figures/cramus_v3.pdf
manuscript/figures/cramus_v4.pdf
manuscript/figures/cramus_v5.pdf
manuscript/figures/cramus_v5.png
manuscript/figures/cramus_v6.pdf
manuscript/figures/cramus_v6.png
manuscript/figures/Fig1.pdf
manuscript/figures/Fig1.png
manuscript/figures/Fig2.png
manuscript/figures/Fig3.png
manuscript/figures/ltt_plots.ai
manuscript/figures/ltt_plots.pdf
manuscript/figures/ltt_plots.png
manuscript/figures/panel_amphibians.ai
manuscript/figures/panel_birds.ai
manuscript/figures/panel_mammals.ai
manuscript/figures/panel_squamates.ai
manuscript/figures/taxa_pics/amphibians.svg
manuscript/figures/taxa_pics/birds.svg
manuscript/figures/taxa_pics/mammals.svg
manuscript/figures/taxa_pics/mammals2.svg
manuscript/figures/taxa_pics/squamates.svg
workspace.RData
richness-pd-rates.Rproj
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/F3167E5D/sources/prop/INDEX
.Rproj.user/F3167E5D/sources/prop/FC5FF986
.Rproj.user/F3167E5D/sources/prop/F9B63E36
.Rproj.user/F3167E5D/sources/prop/F28554FA
.Rproj.user/F3167E5D/sources/prop/EEA20780
.Rproj.user/F3167E5D/sources/prop/E30BE5DA
.Rproj.user/F3167E5D/sources/prop/E1EF6D37
.Rproj.user/F3167E5D/sources/prop/E1BECF1E
.Rproj.user/F3167E5D/sources/prop/E164899E
.Rproj.user/F3167E5D/sources/prop/DAFA6976
.Rproj.user/F3167E5D/sources/prop/D7B3513A
.Rproj.user/F3167E5D/sources/prop/D6EA6C5F
.Rproj.user/F3167E5D/sources/prop/CF1EB328
.Rproj.user/F3167E5D/sources/prop/CCFB8CD7
.Rproj.user/F3167E5D/sources/prop/C8F847D2
.Rproj.user/F3167E5D/sources/prop/C6A06806
.Rproj.user/F3167E5D/sources/prop/C593F910
.Rproj.user/F3167E5D/sources/prop/C3473D0B
.Rproj.user/F3167E5D/sources/prop/BCD6EBDC
.Rproj.user/F3167E5D/sources/prop/B9837A65
.Rproj.user/F3167E5D/sources/prop/B51856DB
.Rproj.user/F3167E5D/sources/prop/B3E1899A
.Rproj.user/F3167E5D/sources/prop/B33A07AB
.Rproj.user/F3167E5D/sources/prop/B2FDF572
.Rproj.user/F3167E5D/sources/prop/AB0FAAB0
.Rproj.user/F3167E5D/sources/prop/A87B8779
.Rproj.user/F3167E5D/sources/prop/A6DBC68E
.Rproj.user/F3167E5D/sources/prop/A6BB7972
.Rproj.user/F3167E5D/sources/prop/A611E85C
.Rproj.user/F3167E5D/sources/prop/A5F76E09
.Rproj.user/F3167E5D/sources/prop/9F61DBD1
.Rproj.user/F3167E5D/sources/prop/9ECB5B7C
.Rproj.user/F3167E5D/sources/prop/9EB78B6B
.Rproj.user/F3167E5D/sources/prop/9E75060E
.Rproj.user/F3167E5D/sources/prop/9CBAE386
.Rproj.user/F3167E5D/sources/prop/9A9DC985
.Rproj.user/F3167E5D/sources/prop/97C9E81B
.Rproj.user/F3167E5D/sources/prop/978816C5
.Rproj.user/F3167E5D/sources/prop/97411B2D
.Rproj.user/F3167E5D/sources/prop/951BF233
.Rproj.user/F3167E5D/sources/prop/93BDDA0A
.Rproj.user/F3167E5D/sources/prop/93AD3E02
.Rproj.user/F3167E5D/sources/prop/8E245510
.Rproj.user/F3167E5D/sources/prop/8BF5C285
.Rproj.user/F3167E5D/sources/prop/8BBA6176
.Rproj.user/F3167E5D/sources/prop/7B7B7CFA
.Rproj.user/F3167E5D/sources/prop/6B6466C8
.Rproj.user/F3167E5D/sources/prop/67E400E1
.Rproj.user/F3167E5D/sources/prop/6655BFB8
.Rproj.user/F3167E5D/sources/prop/622946BB
.Rproj.user/F3167E5D/sources/prop/5F1E4009
.Rproj.user/F3167E5D/sources/prop/5E7EC46D
.Rproj.user/F3167E5D/sources/prop/5B867A7A
.Rproj.user/F3167E5D/sources/prop/571E3623
.Rproj.user/F3167E5D/sources/prop/54993E5F
.Rproj.user/F3167E5D/sources/prop/50B50AB9
.Rproj.user/F3167E5D/sources/prop/4A88D2E2
.Rproj.user/F3167E5D/sources/prop/482A9DF3
.Rproj.user/F3167E5D/sources/prop/47C56834
.Rproj.user/F3167E5D/sources/prop/47A4177A
.Rproj.user/F3167E5D/sources/prop/44A99918
.Rproj.user/F3167E5D/sources/prop/42578869
.Rproj.user/F3167E5D/sources/prop/4067ABAB
.Rproj.user/F3167E5D/sources/prop/38CB283A
.Rproj.user/F3167E5D/sources/prop/37BCDC84
.Rproj.user/F3167E5D/sources/prop/344B4AEB
.Rproj.user/F3167E5D/sources/prop/316EE9C1
.Rproj.user/F3167E5D/sources/prop/2C97931F
.Rproj.user/F3167E5D/sources/prop/2B363F1E
.Rproj.user/F3167E5D/sources/prop/291A5CAD
.Rproj.user/F3167E5D/sources/prop/1FE01500
.Rproj.user/F3167E5D/sources/prop/18B7EB8E
.Rproj.user/F3167E5D/sources/prop/17C88DF9
.Rproj.user/F3167E5D/sources/prop/1774CBD0
.Rproj.user/F3167E5D/sources/prop/0D2D908D
.Rproj.user/F3167E5D/sources/prop/076D3D2E
.Rproj.user/F3167E5D/sources/prop/03339A3F
.Rproj.user/F3167E5D/sources/prop/029B4A67
.Rproj.user/F3167E5D/sources/per/u/1FFDF887-contents
.Rproj.user/F3167E5D/sources/per/u/1FFDF887
.Rproj.user/F3167E5D/sources/per/t/E8FB74B2-contents
.Rproj.user/F3167E5D/sources/per/t/E8FB74B2
.Rproj.user/F3167E5D/sources/per/t/D73649F2-contents
.Rproj.user/F3167E5D/sources/per/t/D73649F2
.Rproj.user/F3167E5D/sources/per/t/BB3B7082-contents
.Rproj.user/F3167E5D/sources/per/t/BB3B7082
.Rproj.user/F3167E5D/sources/per/t/A943BBD1-contents
.Rproj.user/F3167E5D/sources/per/t/A943BBD1
.Rproj.user/F3167E5D/sources/per/t/8EDC0B7D-contents
.Rproj.user/F3167E5D/sources/per/t/8EDC0B7D
.Rproj.user/F3167E5D/sources/per/t 2/BA619147-contents
.Rproj.user/F3167E5D/sources/per/t 2/BA619147
.Rproj.user/F3167E5D/sources/per/t 2/9D8E0CE1-contents
.Rproj.user/F3167E5D/sources/per/t 2/9D8E0CE1
.Rproj.user/F3167E5D/sources/per/t 2/16065B78-contents
.Rproj.user/F3167E5D/sources/per/t 2/16065B78
.Rproj.user/F3167E5D/saved_source_markers
.Rproj.user/F3167E5D/rmd-outputs
.Rproj.user/F3167E5D/pcs/workbench-pane.pper
.Rproj.user/F3167E5D/pcs/windowlayoutstate.pper
.Rproj.user/F3167E5D/pcs/source-pane.pper
.Rproj.user/F3167E5D/pcs/files-pane.pper
.Rproj.user/F3167E5D/pcs/debug-breakpoints.pper
.Rproj.user/F3167E5D/pcs 2/workbench-pane.pper
.Rproj.user/F3167E5D/pcs 2/windowlayoutstate.pper
.Rproj.user/F3167E5D/pcs 2/source-pane.pper
.Rproj.user/F3167E5D/pcs 2/files-pane.pper
.Rproj.user/F3167E5D/pcs 2/debug-breakpoints.pper
.Rproj.user/F3167E5D/.DS_Store
.Rproj.user/.DS_Store
.Rhistory
.RDataTmp
.RData
.Rproj.user
